@import 'global-vars';

@mixin set-font($stack, $style, $weight) {

   font-family: $stack;
   font-style: $style;
   font-weight: $weight;
}

@mixin set-colors($text: null, $background: null, $border: null) {

   color: $text;
   background-color: $background;

   @if $border {
      border: 0 solid $border;
      text-decoration: none;
   } @else {
      border: 0;
   }
}

@mixin on-hover-focus($property, $value, $duration: null) {

   @if $duration {
      transition: $property $duration linear;
   }

   &:hover, &:focus {
      #{$property}: $value;
   }
}

@mixin light-text-on-dark {

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@mixin header-on-left($header-width: 24%) {

   html,
   body,
   header {
      height: 100%;
   }

   header {
      position: fixed;
      width: $header-width;

      #logo {
         width: 40%;
         margin: 30%;
      }

      nav a {
         display: block;
         float: right;
         clear: right;
         width: $header-width;
         text-align: left;

         @include on-hover-focus(border-left-width, $tab-border-width);

         &.current {
            border-left-width: $tab-border-width;
         }
      }
   }
}

@mixin header-on-top($logo-width) {

   header {

      #logo {
         width: $logo-width;
         margin: $logo-width * .7;
      }

      nav a {
         display: inline-block;

         @include on-hover-focus(border-top-width, $tab-border-width);

         &.current {
            border-top-width: $tab-border-width;
         }
      }
   }
}
