// base.sass
//
// Defines universal styles. See viewports.scss for styles that depend on the
// viewport.

@import fonts
@import util
@import global-vars

$font-stack: $font-name, sans-serif

body
   +set-font($stack: $font-stack, $style: normal, $weight: 400)

a
   border-style: solid
   text-decoration: none

header
   +set-colors($background: $base-gray)
   text-align: center

   #logo
      vertical-align: bottom

   nav a
      +set-box-model($padding: .5em 1.1em .7em)
      +set-colors($background: $base-gray + #111, $text: #fff, $border: $base-gray + #111)
      +set-font($size: 1.25em)
      +on-hover-focus(background-color, $base-gray + #222)
      text-transform: lowercase

      &.current
         +set-colors($background: #fff, $text: $base-gray, $border: $cyan)

      &:not(.current)
         +set-box-model($border: 0)
         +light-text-on-dark

main
   +set-colors($text: $base-gray)
   line-height: 1.8

   a
      +set-box-model($border: 0 0 2px)
      +set-colors($text: $base-gray + #333, $border: $base-gray + #999)
      +on-hover-focus(border-color, $cyan)

   h1:first-of-type
      +set-box-model($margin: 0 auto auto)

   p
      +set-box-model($margin: 1.5em 0)
      +set-font($size: 1.125em)

   hr
      +set-box-model($margin: 3em 0, $border: 0, $width: 1em, $height: 1em)
      +set-colors($background: $base-gray + #999)

   article
      +set-box-model($margin: 0 0 5em)

   .post-title
      +set-colors($text: $base-gray + #333)
      +set-font($weight: 400, $size: 1.75em)

      a
         +set-box-model($border: 0)
         +set-colors($text: $base-gray + #333)
         +on-hover-focus(color, $base-gray + #555)

   .post-date
      +set-box-model($margin: 0 auto 1em)
      +set-colors($text: $base-gray + #555)
      +set-font($weight: 400, $size: 1.125em)

   .more,
   #pagination a
      +set-box-model($border: 0)
      +set-colors($text: $base-gray + #555)
      +on-hover-focus(color, $base-gray + #777)

   #pagination
      +set-box-model($padding: 0 0 .5em)
