// base.scss
//
// Defines universal styles. See viewports.scss for styles that depend on the
// viewport.

@import 'fonts';
@import 'util';
@import 'global-vars';

$font-stack: $font-name, sans-serif;

a {

   @include set-font($font-stack, normal, 400);
   @include set-colors($text: #fff, $border: #888);
}

header {
   text-align: center;

   @include set-colors($background: $base-color);

   nav {

      a {
         padding: .5em 1.1em .7em 1.1em;
         font-size: 1.25em;
         text-transform: lowercase;

         @include set-colors($background: $base-color + #111,
                             $border: $base-color + #111);
         @include on-hover-focus(background-color, $base-color + #222);

         &.current {

            @include set-colors($background: white, $text: $base-color - #111,
                                $border: $accent-color);
         }

         &:not(.current) {

            @include light-text-on-dark;
         }
      }
   }

   #logo {
      vertical-align: bottom;
   }
}

main {
   line-height: 1.8;

   @include set-font($font-stack, normal, 400);
   @include set-colors($text: #222);

   & > :first-child {
      margin-top: 0;
   }

   h1, h2 {

      @include set-font($font-stack, normal, 300);
      @include set-colors($text: #888);
   }

   h2 {
      margin-top: 4em;
   }

   ul {
      padding-left: 0;

      li {
         list-style-type: none;
      }
   }

   p {
      margin: 1.5em 0;
   }

   hr {
      margin: 4em 0;
      border: 0;
      width: 1em;
      height: 1em;
      background-color: #ccc;
   }
}
