@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/slkscr-webfont.woff2') format('woff2'),
         url('../fonts/slkscr-webfont.woff') format('woff'),
         url('../fonts/slkscr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
   width: 100%;
   height: 100%;
}

body {
   height: 100%;
}

a {
   text-decoration: none;
}

h1 {
   font-family: 'Silkscreen', monospace;
}

nav {
   font-family: 'Silkscreen', monospace;
   font-weight: 400;
   background-color: #88888f;
}

#nav-base {
   position: relative;
   z-index: 2;
   background-color: #88888f;
}

.tab {
   position: relative;
   float: left;
   color: #88888f;
   background-color: #cccccf;

   &.selected {
      background-color: #fff;
      cursor: default;
   }

   span {
      position: relative;
   }
}

main {
   margin: auto;
   font-family: 'Chivo', sans-serif;
   font-weight: 400;
   color: #88888f;
}

h1 {
   font-weight: 400;
   color: #88888f;

   span {
      color: #cccccf;
   }
}

#tab-title {
   text-align: center;
}

////////////////////////////////////////////////////////////////////////////////
// all dimensional styles below ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$tab-dim: 1.8em;
$nav-dim: 2.4em;
$tab-border-dim: ($nav-dim - $tab-dim) / 2;

nav {
   height: $nav-dim + $tab-border-dim;
   font-size: $nav-dim;
}

#nav-base {
   top: $nav-dim;
   height: $tab-border-dim;
}

.tab {
   top: $tab-border-dim;
   margin-left: $tab-border-dim;
   border-bottom: $tab-border-dim solid #66666c;
   width: $tab-dim;
   height: $tab-dim;

   &.selected {
      top: $nav-dim - $tab-dim;
      border-bottom: 0;
   }

   &:not(.selected):hover {
      top: $tab-border-dim + $tab-border-dim / 2;
   }
}

main {
   margin-top: 1em;
   padding-bottom: $nav-dim + $tab-border-dim;
   font-size: $nav-dim;
}

#tab-title {
   font-size: $nav-dim;
}

#tg > span {
   top: .44em;
   left: .26em;
}

#comments > span {
   top: .42em;
   left: .3em;
}

#tuning-in > span {
   top: .42em;
   left: .42em;
}
