// target devices: phones (portrait)
@media (max-width: 500px) {

   h1 {
      font-size: .75em;
   }

   #tab-title {
      font-size: .875em;
   }

   p {
      font-size: .5em;
   }

   main {
      width: 90%;
   }
}

// target devices: tablets (portrait), phones (landscape)
@media (min-width: 500px) and (max-width: 900px) {

   h1 {
      font-size: 1em;
   }

   #tab-title {
      font-size: 1.25em;
   }

   p {
      font-size: .5em;
   }

   main {
      width: 75%;
   }
}

// target devices: small/medium desktop displays, tablets (landscape)
@media (min-width: 900px) and (max-width: 1400px) {

   h1 {
      font-size: 1.125em;
   }

   #tab-title {
      font-size: 1.5em;
   }

   p {
      font-size: .625em;
   }

   main {
      width: 60%;
   }
}

// target devices: large desktop displays
@media (min-width: 1400px) and (max-width: 2000px) {

   h1 {
      font-size: 1.375em;
   }

   #tab-title {
      font-size: 1.75em;
   }

   p {
      font-size: .75em;
   }

   main {
      width: 55%;
   }
}

// target devices: very large desktop displays
@media (min-width: 2000px) {

   h1 {
      font-size: 1.5em;
   }

   #tab-title {
      font-size: 1.875em;
   }

   p {
      font-size: .875em;
   }

   main {
      width: 50%;
   }
}
