a {
  color: #c070e0; }
  a:hover:not(.tab) {
    color: #a050c0; }

nav {
  background-color: #c070e0; }

#nav-base {
  background-color: #c070e0; }

.tab {
  color: #c070e0;
  border-color: #a050c0; }
  .tab:not(.selected) {
    background-color: #fff; }

#posts {
  margin: 0;
  padding: 0; }

.post {
  margin: 0;
  width: 100%;
  list-style-type: none; }
