a {
  color: #45ccc4; }
  a:hover:not(.tab) {
    color: #25aca4; }

nav {
  background-color: #45ccc4; }

#nav-base {
  background-color: #45ccc4; }

.tab {
  color: #45ccc4;
  border-color: #25aca4; }
  .tab:not(.selected) {
    background-color: #fff; }

main {
  text-align: center; }
