a {
  color: #eecc2a; }
  a:hover:not(.tab) {
    color: #ceac0a; }

nav {
  background-color: #eecc2a; }

#nav-base {
  background-color: #eecc2a; }

.tab {
  color: #eecc2a;
  border-color: #ceac0a; }
  .tab:not(.selected) {
    background-color: #fff; }

#posts {
  margin: 0;
  padding: 0; }

.post {
  margin: 0;
  width: 100%;
  list-style-type: none; }
