@media (max-width: 800px) {
  h1 {
    font-size: .75em; }

  #tab-title {
    font-size: .875em; }

  p {
    font-size: .5em; }

  main {
    width: 90%; } }
@media (min-width: 800px) and (max-width: 1200px) {
  h1 {
    font-size: 1em; }

  #tab-title {
    font-size: 1.25em; }

  p {
    font-size: .5em; }

  main {
    width: 84%; } }
@media (min-width: 1200px) and (max-width: 1600px) {
  h1 {
    font-size: 1.125em; }

  #tab-title {
    font-size: 1.5em; }

  p {
    font-size: .625em; }

  main {
    width: 60%; } }
@media (min-width: 1600px) {
  h1 {
    font-size: 1.375em; }

  #tab-title {
    font-size: 1.75em; }

  p {
    font-size: .75em; }

  main {
    width: 48%; } }
